.button {
  background: var(--white);
  color: var(--gray-900);
  height: 5rem;
  width: 30rem;
  font-size: 2rem;
  line-height: 5rem;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 15rem);
  border-radius: 5rem;
  font-weight: bold;
  border: 0;

  transition: filter 0.2s;
  
  &:hover {
    filter: brightness(0.8);
  }
}